# Visual Studio Files
*.bak
*.sln
*.suo
*.~u
.vs
UpgradeLog.htm

# TwinCAT Files

## .tmc file should *not* be ignored. This results in broken links.
## .tpy file can be ignored. They are a holdover from CoDeSys and aren't used much by beckhoff
### Source: https://infosys.beckhoff.com/english.php?content=../content/1033/tc3_sourcecontrol/18014398915785483.html&id=
*.tpy

## Compilation Process Artifact
.tmcRefac

## TwinCAT Archive Formats
*.tnzip
*.tszip
*.tfzip

## Build Files
_CompileInfo
_Boot
_Libraries

## TwinCAT Licence Files (Machine Specific)
TrialLicense.tclrs

## Project Specific Files (Optional)
### Can add folder or file path(s)
MainProject/PLC Project/GFTX_CM1_FMA1_50601-01_PLC/GFTX_CM1_FMA1_50601-01_PLC.tmc
